* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #091B29;
}

header {
    width: 100%;
    height: 10vh;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    line-height: 15vh;
    padding-left: 20px;
    padding-right: 20px;
}

nav, ul, li, a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    font-weight: 600;
    color: #0C9AD3;
}

.land {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.left {
    width: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    margin-top: 60px;
    margin-left: 45px;
}

.left h3 {
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left h5 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0C9AD3;
}

.left p {
    font-family: cursive;
    font-size: 18px;
    width: 600px;
}

.left .hire {
    padding: 10px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: #0C9AD3;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-out;
}

.left .hire:hover {
    border: 1px solid #0C9AD3;
    background-color: transparent;
    color: #0C9AD3;
}

.left .talk {
    padding: 10px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-out;
    border: 1px solid #0C9AD3;
    background-color: transparent;
    color: #0C9AD3;
}

.buttons {
    gap: 30px;
    display: flex;
    margin-top: 20px;
}

.socials {
    display: flex;
    padding: 20px;
    margin-top: 60px;
    margin-left: 45px;
    gap: 20px;
    color: #0C9AD3;
}

.soc {
    width: 50px;
    height: 50px;
    border: 1px solid #0C9AD3;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}


@media screen and (max-width: 440px) {
    nav, ul, li, a {
        font-size: 10px;
    }
}

@media screen and (max-width: 680px) {
    .left h3 {
        font-size: 30px;
    }

    .left p {
    font-family: cursive;
    font-size: 14px;
    width: 100%;
}
}